@import url("https://fonts.googleapis.com/css2?family=Coda&display=swap");

* {
    margin: 0;
    padding: 0;
    /* background-color:#554238; */
}
header * {
    font-family: "Coda", cursive;
    border: none;
    outline: none;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 14vh;
    background-color: #554238;
}
header .header-top {
    width: 100%;
    height: 50%;
    background-color: #302b2b;
    display: flex;
}
header .header-top .bar-top-left {
    width: 15%;
    height: 100%;
    background-color: #302b2b;
}

header .header-top .bar-top-left img {
    width: 230px;
    height: auto;
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 10px;
}
header .header-top .bar-top-right {
    width: 15%;
    height: 100%;
    background-color: #302b2b;
    margin-left: 70%;
    text-align: center;
}
.bar-top-right button:hover {
    background-color: rgb(0, 130, 125);
}
header .header-top .bar-top-right .register {
    background-color: #d3b74b;
    color: black;
}
header .header-top .bar-top-right .register:hover {
    background-color: rgb(0, 130, 125);
}
header .header-bottom {
    width: 70%;
    height: 50%;
    background-color: #515151;
    margin: 0 auto;
    /* list-style: none; */
    display: flex;
    align-items: center;
    justify-content: center;
}
header .header-bottom a {
    color: white;
    padding: 130px;
    text-decoration: none;
}
header .header-bottom a:hover {
    color: #d3b74b;
}

.bar-top-right a,
button {
    font-family: "Coda", cursive;
    font-weight: 100;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}
.bar-top-right button {
    background-color: #515151;
    justify-content: space-between;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 15px;
    margin-left: 25px;
}

/* ads  */
.wrapper-body{
    width: 100%;
    height: 100vh;
    background-color: #c08787;
}
.wrapper-body .body-content {
    width: 100%;
    height: 40%;
    background-color: #ffffff;
}
.wrapper-body .body-content .slide {
    width: 100%;
    height: 100%;
    background-color: #518442;
}
.wrapper-body .body-content .slide .slides{
    margin-top: -20px;
    width: 70%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper-body .showing {
    width: 100%;
    height: 60%;
    background-color: #ac3131;
    /* position: absolute;
    top: 82%;
    left: 30%;
    transform: translate(-50%, -50%); */
}
.showing li {
    /* display: inline-block;
    padding-top: 5px; */
}
.showing li a {
    /* border-radius: 16px;
    background-color: dimgray;
    padding: 5px 25px 5px 25px;
    transition: all 0.3s ease 0s; */
}
.showing li a:hover {
    /* color: #d2a921; */
}

/* Float four columns side by side */
.column {
    float: left;
    width: 15%;
    padding: 50px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style footer */
footer * {
    font-family: "Coda", cursive;
    border: none;
    outline: none;
    box-sizing: border-box;
}
footer {
    width: 100%;
    height: 20vh;
    background-color: #302b2b;
}
footer .top-footer {
    width: 60%;
    height: 77%;
    background-color: #302b2b;
    margin: 0 auto;
    display: flex;
}
footer .top-footer .top-left-footer {
    width: 30%;
    height: 100%;
    background-color: #302b2b;
    color: white;
    padding-left: 3%;
    padding-top: 22px;
}
footer .top-footer .top-left-footer a {
    color: #ffffff;
    padding-left: 3%;
    padding-top: 22px;
}
footer .top-footer .top-left-footer a:hover {
    color: #c2aa4c;
}
footer .top-footer .top-middle-footer {
    width: 40%;
    height: 100%;
    background-color: #302b2b;
    text-align: center;
    color: white;
    padding-top: 22px;
}
footer .top-footer .top-right-footer {
    color: white;
    width: 30%;
    height: 100%;
    background-color: #302b2b;
    padding-top: 22px;
    padding-left: 3%;
}
footer .top-footer .top-right-footer .icon-social {
    padding: 20px;
}
footer .top-footer .top-right-footer .icon-social img {
    margin-right: 5px;
}
footer .bottom-footer {
    width: 100%;
    height: 23%;
    background-color: #302b2b;
    text-align: center;
    padding-bottom: 2.5%;

}
footer .bottom-footer a{
    text-decoration: none;
}

footer .bottom-footer p {
    font-size: 0.9em;
    color: #949494;
}

footer .bottom-footer a:hover {
    color: rgb(32, 164, 208);
}
