.moviedetail * {
font-family: "Coda", cursive;

}
.moviedetail {
    /* margin-bottom: 100%; */
    width: 70%;
    height: 100%;
    background-color: #ff5900;
    margin: 0 auto;
    margin-top: 2%;
    
}
.moviedetail .trailer {
    width: 100%;
    height: 35%;
    background-color: #416748;
}
.trailer iframe {
    width: 100%;
    height: 91.5%;
}
.moviedetail .trailer h2{
    color: white;
}
.moviedetail .movie-info {
    width: 100%;
    height: 25%;
    background-color: #2200ff;
}   

.moviedetail .movie-showtime {
    width: 100%;
    height: 40%;
    background-color: #ff00aa;
}  
